<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
  <div class="wraper">
    <%- include('./partials/header') %>
    
    <main class="main">
      <div class="main__container">

        <div class="top">
          <h1 class="top__title">Notas</h1>
          <div class="top__create">
            <span>Crear una nota</span>
            <a 
              href="/notes/create"
              class="top__create-link button"
            >
              +
            </a>
          </div>
        </div>
      
        <section class="notes">
          <% if (locals.notes) { %>
            <ul class="notes__list">
              <% notes.forEach(note => { %>

                <%- include('./partials/noteCard', { note }) %>

              <% }) %>
            </ul>
          <% } %>
        </section>

      </div>
    </main>
  </div>

  <%- include('./partials/footer') %>

</body>
</html>